#/Manifest.toml

sandbox/

examples/Outputs/
slurm_scripts/*

/build/*.dll
/build/*.so
.vscode/
.JuliaFormatter.toml

JuliaSysimage.dll

docs/build/

config.toml
calib_config.toml

Outputs/*
initial_cover/Outputs/
src/historical_disturbance_mortality_data_gen/diagnostics/output/

src/statprof/
src/gif

src/historical_dhw_data_gen/data/CoralSea_GBR_coraltempv3p1_dhw_1985-2024-reefs.mat